pandas
beautifulsoup4

#NLP task
transformers
torch
spacy
sentence-transformers
chromadb


langchain
langchain-community
duckduckgo-search
langchain-ollama
ddgs
langchain-groq
langchain-chroma
streamlit


ragas
langchain-google-genai
sentence-transformers

fastapi
uvicorn
pydantic